# --------------------------------------------------------------------------- #
# Compiled files                                                              #
# --------------------------------------------------------------------------- #

# Compiled files
**pytest_cache**
**/**.pyc

# --------------------------------------------------------------------------- #
# Environment and configurations                                              #
# --------------------------------------------------------------------------- #

# PyCharm configuration
**/.idea/**

# Secret values
secrets/*.*

# --------------------------------------------------------------------------- #
# Installation and build                                                      #
# --------------------------------------------------------------------------- #

**/*.egg-info
build
dist
/site/

# --------------------------------------------------------------------------- #
# Testing and coverage                                                        #
# --------------------------------------------------------------------------- #

# Coverage
.coverage
coverage.xml
htmlcov

# Test data
tests/data_tmp
tests/Pulumi.yaml
tests/tmp*
tmp*

# Test results
junit

# Tox files - Global
#.tox_pip_cache_sdist
#.tox_pip_cache_whl

# Tox files - Package-specific
#**/.tox/**


