# --------------------------------------------------------------------------- #
# Compiled files                                                              #
# --------------------------------------------------------------------------- #

# Compiled files
**pytest_cache**
**__pycache__**
**/**.pyc

# --------------------------------------------------------------------------- #
# Environment and configurations                                              #
# --------------------------------------------------------------------------- #

# PyCharm configuration
**/.idea/**

# Secret values
secrets/*.*

# --------------------------------------------------------------------------- #
# Installation and build                                                      #
# --------------------------------------------------------------------------- #

**/*.egg-info
build
dist
/site/

# --------------------------------------------------------------------------- #
# Testing and coverage                                                        #
# --------------------------------------------------------------------------- #

# Coverage
.coverage
coverage.xml
htmlcov

# Test data
.terraform*
Pulumi.yaml
stack.tf.json
tests/*terraform*
tests/Pulumi.yaml
tests/stack.tf.json
tests/tmp*
tests/.terraform/
tmp-*

# Test results
junit


