# --------------------------------------------------------------------------- #
# Compiled files                                                              #
# --------------------------------------------------------------------------- #

# Compiled files
**pytest_cache**
**/**.pyc

# --------------------------------------------------------------------------- #
# Environment and configurations                                              #
# --------------------------------------------------------------------------- #

# PyCharm configuration
**/.idea/**

# Local settings and environment variables
#settings_local/*.*

# --------------------------------------------------------------------------- #
# Installation                                                                #
# --------------------------------------------------------------------------- #

#**/*.egg-info/**
dist
#**/dist/**

# --------------------------------------------------------------------------- #
# Testing and coverage                                                        #
# --------------------------------------------------------------------------- #

# Coverage
.coverage
coverage.xml
htmlcov

# Test results
junit

# Tox files - Global
#.tox_pip_cache_sdist
#.tox_pip_cache_whl

# Tox files - Package-specific
#**/.tox/**

