site_name: Laktory
site_description: A DataOps framework for building Databricks lakehouse
site_url: https://www.laktory.ai/
repo_url: https://github.com/opencubes-ai/laktory
repo_name: Laktory

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.snippets  # link between markdown (changelog)
  - pymdownx.superfences  # code blocks titles
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg



theme:
  name: material
#  name: readthedocs
#  name: bootstrap386
  palette:
#    - media: "(prefers-color-scheme)"
#      toggle:
#        icon: material/brightness-auto
#        name: Switch to light mode
#
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
#    - navigation.sections
    - navigation.path
    - search.suggest
    - content.code.copy
#    - content.code.select  # TODO: Enable
#    - content.code.annotate  # TODO: Enable

#      primary: "#2fe1b9"
#      accent: green
#      toggle:
#        icon: material/lightbulb
#        name: "Switch to light mode"
#    - media: "(prefers-color-scheme: light)"
#      scheme: laktory-light
##      primary: pink
##      accent: pink
#      toggle:
#        icon: material/lightbulb-outline
#        name: "Switch to dark mode"


plugins:
  - mkdocstrings
#  - snippets
#  - search

nav:
  - Get Started:
    - About: index.md
    - Installation: install.md
    - Quickstart: quickstart.md

  - Concepts:
    - Design Principles: concepts/design.md
    - Models: concepts/models.md
    - Data Event: concepts/dataevent.md
#    - Data Source: concepts/datasource.md
    - Table: concepts/table.md
    - Table Builder: concepts/tablebuilder.md
    - Pipeline: concepts/pipeline.md
    - Data Governance: concepts/governance.md
    - Deployment (IaC): concepts/deployment.md
    - Spark Extension: concepts/spark.md

  - How-To Guides:
    - Users: guides/users.md
    - Data Catalog: guides/catalog.md
    - Data Table: guides/table.md
    - Data Pipeline: guides/pipeline.md
    - Compute: guides/compute.md
    - Job: guides/job.md
    - Secrets: guides/secrets.md

  - Lakehouse As Code: lakehouseascode.md
  - API Reference: reference.md
  - Changelog: changelog.md
