[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "laktory"
authors = [
    {name = "Olivier Soucy", email = "osoucy.transactions@gmail.com"},
]
description = "A DataOps framework for building a lakehouse"
readme = "README.md"
requires-python = ">=3.9"
keywords = ["one", "two"]
license = {text = "MIT"}
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dynamic = ["version"]
dependencies = [
    "pydantic>=2",
    "settus",
    "pyyaml",
    "pyspark",
]
[project.optional-dependencies]
dev = [
    "black",
    "flit",
]
test = [
    "pytest",
    "pytest-cov",
#    "tox"
]

[project.urls]
"Homepage" = "https://github.com/opencubes-ai/laktory"
"Bug Tracker" = "https://github.com/opencubes-ai/laktory/issues"
