name: release

on:
  workflow_dispatch:
    logLevel:
      description: 'Log level'
      default: 'info'
    branches:
      - main
#  pull_request:
#    types:
#      - closed
#    branches:
#      - main

jobs:
  release:
#    if: ${{ github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

  tag:
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Git
        run: git config --global user.email "actions@github.com" && git config --global user.name "GitHub Actions"

      - name: Create release tag
#        run: git tag v${{ steps.increment_version.outputs.new_version }}
        run: git tag test_tag0

      - name: Push release tag
#        run: git push origin v${{ steps.increment_version.outputs.new_version }}
        run: git push origin test_tag0


#      - name: Build and publish laktory to pypi
#        run: make publish
#        env:
#          FLIT_INDEX_URL: ${{ vars.FLIT_INDEX_URL }}
#          FLIT_USERNAME: ${{ vars.FLIT_USERNAME }}
#          FLIT_PASSWORD: ${{ secrets.FLIT_PASSWORD }}
#          TWINE_REPOSITORY_URL: ${{ vars.TWINE_REPOSITORY_URL }}
#          TWINE_USERNAME: ${{ vars.TWINE_USERNAME }}
#          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
