name: run-quickstart

on:
  pull_request:
    types:
      - opened
      - synchronize
  workflow_call:
    inputs:
      env:
        type: string
        required: true
env:
  CWD: ./.run_quickstart


jobs:
  laktory-preview:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: env vars
        run: |
          import os
          for k, v in os.environ.items():
            print(k, "|", v)
        shell: python

      - name: Install Laktory
        run: make install

      - name: make dir
        run: |
          mkdir $CWD

      - name: run quickstart
        run: laktory quickstart -b terraform -n Standard_DS3_v2
        working-directory: ${{ env.CWD }}

      - name: laktory init
        run: laktory init
        working-directory: ${{ env.CWD }}

      - name: laktory preview
        run: laktory preview
        working-directory: ${{ env.CWD }}
        env:
          DATABRICKS_HOST: ${{ vars.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

