name: test

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-22.04  # ubuntu-latest does not seem to have Terraform available anymore
    strategy:
      fail-fast: false
      matrix:
        pyVersion:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
    steps:
      - name: Check if run tests
        env:
          VERSION_BUMP: ${{ contains(github.event.pull_request.labels.*.name, 'version-bump') }}
        run: |
          if ${VERSION_BUMP} == true; then
            echo "run_tests=false" >> $GITHUB_ENV
            echo "tests will be skipped"
          else
            echo "run_tests=true" >> $GITHUB_ENV
            echo "tests will be run"
          fi

      - name: Checkout
        if: ${{ env.run_tests == 'true' && success()}}
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        if: ${{ env.run_tests == 'true' && success()}}
        with:
          python-version: ${{ matrix.pyVersion }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.14"
          python-version: ${{ matrix.python-version }}

      - name: Import with core dependencies
        if: ${{ env.run_tests == 'true' && success()}}
        run: |
          make install 
          python -c "import laktory; print(laktory.__version__)" 
          laktory --version

      - name: Run tests
        if: ${{ env.run_tests == 'true' && success()}}
        run: make install-dev test
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          LAKEHOUSE_SA_CONN_STR: ${{ secrets.LAKEHOUSE_SA_CONN_STR }}
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}

#      - name: Publish test coverage
#        uses: codecov/codecov-action@v1
